/* BLOCKS */

.mainblock {
    min-height: 70vh;
    padding: 4vh;
    text-align: center;
    color: #fff;
}

#about{
    background: #ffbf00
}

#code {
    background: #e83f6f
}

#photo {
    background: #2274a5
}
