<footer id="mainfooter">
    <div class="footer-content">
        <p>
            <a class="quicklink" href="mailto:nicholas_young@alumni.brown.edu" target="_blank" rel="noopener">[Email]</a>
            <a class="quicklink" href="https://github.com/n-young" target="_blank" rel="noopener">[GitHub]</a>
            <a class="quicklink" href="https://www.linkedin.com/in/ndashyoung" target="_blank" rel="noopener">[LinkedIn]</a>
        </p>
    </div>
</div>
</body>
</html>