<div id="mainfooter">
    <div class="footer-content">
        <p>Designed with ♥️ by Nick Young © 2020</p>
        <p>

            {{ loop global.links.links
            <a class="quicklink" href="${url}" target="_blank" rel="noopener">[${text}]</a>
            }}
        </p>
    </div>
    <div class="footer-lines">
        <div class="footer-line" id="footer-line-1"></div>
        <div class="footer-line" id="footer-line-2"></div>
        <div class="footer-line" id="footer-line-3"></div>
        <div class="footer-line" id="footer-line-4"></div>
    </div>
</div>
</body>
</html>