<!DOCTYPE html>
<html lang="en">

<head>
    <title>nick young</title>
    <link rel="shortcut icon" type="image/png" href="img/NY.png" />
    <meta charset="UTF-8" />
    <meta name="description" content="Nick Young's personal website" />
    <meta name="keywords"
        content="Nick Young, Software Engineering, Software, Engineering, CS, Computer Science, Brown University, Brown, Providence, Vancouver" />
    <meta name="author" content="Nick Young" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="script/typed.js"></script>
    <script defer src="script/jquery.min.js"></script>
    <script defer src="script/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>
<body>
