<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ data post.title }} | nick young</title>
    <link rel="shortcut icon" type="image/png" href="../img/logo-square.png" />
    <meta charset="UTF-8" />
    <meta name="description" content="Nick Young's personal blog" />
    <meta name="keywords"
        content="Nick Young, Software Engineering, Software, Engineering, CS, Computer Science, Brown University, Brown, Providence, Vancouver" />
    <meta name="author" content="Nick Young" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;800&family=Roboto+Slab:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../style/root.css" />
    <link rel="stylesheet" type="text/css" href="../style/style.css" />
</head>
<body>
