<div id="transition-1">
    <img id="transition-icon" src="img/logobw.png" alt="logo" />
</div>
<div id="transition-2"></div>
<div id="transition-3"></div>
<div id="transition-4"></div>
<div id="transition-5"></div>
