    @font-face{
        font-family:"Bebas Neue W03 Regular";
        src:url("Fonts/1444651/69efc83f-ff1e-4b84-aaac-c35e238e33ca.eot?#iefix");
        src:url("Fonts/1444651/69efc83f-ff1e-4b84-aaac-c35e238e33ca.eot?#iefix") format("eot"),url("Fonts/1444651/11e21f91-5c9d-4170-908d-d6afa916d2fc.woff2") format("woff2"),url("Fonts/1444651/b336f9f4-ee3c-4257-a4af-d5d2e3671b86.woff") format("woff"),url("Fonts/1444651/213f5fa9-0ccb-4f43-baf8-99d81c93b2ae.ttf") format("truetype");
    }
