/* =================================== */
/* HOUSEKEEPING */
/* =================================== */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 8px;
}

.example::-webkit-scrollbar {
    display: none;
}

.example {
    -ms-overflow-style: none;
}

/* =================================== */
/* FONTS */
/* =================================== */

@font-face {
    font-family: "BebasNeue Yeet";
    src: url("../font/BebasNeue-Thin.otf") format("opentype"),
        url("../font/BebasNeue-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "BebasNeue Yeet";
    src: url("../font/BebasNeue-Light.otf") format("opentype"),
        url("../font/BebasNeue-Light.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "BebasNeue Yeet";
    src: url("../font/BebasNeue-Book.otf") format("opentype"),
        url("../font/BebasNeue-Book.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "BebasNeue Yeet";
    src: url("../font/BebasNeue-Regular.otf") format("opentype"),
        url("../font/BebasNeue-Regular.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "BebasNeue Yeet";
    src: url("../font/BebasNeue-Bold.otf") format("opentype"),
        url("../font/BebasNeue-Bold.ttf") format("truetype");
    font-weight: 800;
}

/* =================================== */
/* MAINS */
/* =================================== */

body {
    background: #f0ffe7;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font: 400 8rem "BebasNeue Yeet";
    margin-bottom: 30px;
    margin-top: 0;
}

h1 > .highlight {
    padding-top: 10px;
}

h2 {
    font: 400 6rem "BebasNeue Yeet";
    margin-bottom: 0;
}

h2 > .highlight {
    padding-top: 10px;
}

h3 {
    font-family: "Raleway";
    font-size: 4rem;
    font-style: italic;
}

p {
    font-family: "Raleway";
    font-size: 2rem;
}

ul {
    padding-left: 2rem;
}

li {
    font-family: "Raleway";
    font-size: 2rem;
    margin: 1rem;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 6rem;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 5rem;
    }

    h3 {
        font-size: 2rem;
    }

    p,
    li {
        font-size: 2rem;
    }
}

/* =================================== */
/* TRANSITIONS */
/* =================================== */

@keyframes slideUp {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(50vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

#transition-icon {
    height: 10vh;
    margin-top: 45vh;
    animation: 1s cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 slideIn;
    animation-fill-mode: forwards;
}

#transition-1 {
    position: absolute;
    top: 0;
    z-index: 1040;
    width: 100%;
    height: 110%;
    display: block;
    background: #f0ffe7;
    text-align: center;
    animation: 1s cubic-bezier(0.73, 0.03, 0.87, 0.7) 1s 1 slideUp;
    animation-fill-mode: forwards;
}

#transition-2 {
    position: absolute;
    top: 0;
    z-index: 1039;
    width: 100%;
    height: 110%;
    display: block;
    background: #ffb400;
    animation: 1s cubic-bezier(0.73, 0.03, 0.87, 0.7) 1.1s 1 slideUp;
    transform: translateY(-100%);
}

#transition-3 {
    position: absolute;
    top: 0;
    z-index: 1038;
    width: 100%;
    height: 110%;
    display: block;
    background: #e83f6f;
    animation: 1s cubic-bezier(0.73, 0.03, 0.87, 0.7) 1.2s 1 slideUp;
    transform: translateY(-100%);
}

#transition-4 {
    position: absolute;
    top: 0;
    z-index: 1037;
    width: 100%;
    height: 110%;
    display: block;
    background: #2274a5;
    animation: 1s cubic-bezier(0.73, 0.03, 0.87, 0.7) 1.3s 1 slideUp;
    transform: translateY(-100%);
}

#transition-5 {
    position: absolute;
    top: 0;
    z-index: 1036;
    width: 100%;
    height: 110%;
    display: block;
    background: #32936f;
    animation: 1s cubic-bezier(0.73, 0.03, 0.87, 0.7) 1.4s 1 slideUp;
    transform: translateY(-100%);
}

/* =================================== */
/* LANDING */
/* =================================== */

#mainlanding {
    height: 86vh;
    display: flex;
    align-items: flex-end;
}

#mainname {
    font: 200 23vw "BebasNeue Yeet";
    color: #262626;
    margin-bottom: -3vw;
    margin-left: 2vw;
}

#boldname {
    font-weight: 400;
}

.underline {
    position: relative;
    height: 0.5rem;
    width: 80%;
    background-color: #262626;
}

#typedholder {
    margin-bottom: 0;
    margin-left: 2vw;
    margin-top: 2vh;
}

#typedholder > h1 {
    font: 400 9vh "BebasNeue Yeet";
    color: #262626;
}

@media screen and (max-width: 768px) {
    #mainlanding {
        height: 89vh;
    }

    #typedholder > h1 {
        font-size: 5rem;
    }
}

/* =================================== */
/* NAVBAR */
/* =================================== */

.my-navbar {
    position: sticky;
    top: 2vh;
    z-index: 2;
}

#main-navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex: 1;
}

.navbar-toggler {
    display: none;
    position: fixed;
    top: 3vh;
    left: 10px;
    border-width: 0;
    background-color: #f0ffe7;
    font: 400 9rem "BebasNeue Yeet";
}

@media screen and (max-width: 768px) {
    .my-navbar {
        display: none;
        /* display: block; */
        position: fixed;
        top: 0;
    }

    #main-navbar {
        grid-template-columns: 1fr;
    }

    .navbar-toggler {
        display: none;
        /* display: block; */
    }
}

.nav-option {
    text-align: center;
    font: 400 6vh "BebasNeue Yeet";
    color: #fff;
    background-color: #262626;
    text-decoration: none;
    transition: background-color 0.25s;
    grid-column: span 1;
    padding-top: 10px;
}

.nav-option:hover {
    color: #fff;
}

#aboutoption:hover {
    background-color: #ffbf00;
    color: #262626;
}

#projectsoption:hover {
    background-color: #e83f6f;
}

#skillsoption:hover {
    background-color: #2274a5;
}

#contactoption:hover {
    background-color: #32936f;
}

/* =================================== */
/* BARS */
/* =================================== */

.progressbar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 3vh;
    z-index: 1;
}

#basebar {
    position: sticky;
    top: 0;
    background: #f0ffe7;
    width: 100%;
}

#aboutbar {
    background: #ffbf00;
    width: 0%;
}

#projectsbar {
    background: #e83f6f;
    width: 0%;
}

#skillsbar {
    background: #2274a5;
    width: 0%;
}

#contactbar {
    background: #32936f;
    width: 0%;
}

/* =================================== */
/* CONTAINERS */
/* =================================== */

.main {
    margin: 0;
    padding: 60px 30px;
}

.container {
    margin: 0 auto;
    max-width: 992px;
}

.container-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 992px) {
    .container-grid {
        display: flex;
        flex-direction: column-reverse;
    }
}

.grid-item {
    grid-column: span 1;
}

#mainabout {
    background-color: rgba(255, 191, 0, 0.9);
    transition: background-color 0.25s;
    color: #262626;
}

#mainabout:hover {
    background-color: rgba(255, 191, 0, 1);
}

#mainskills {
    background-color: rgba(232, 63, 111, 0.9);
    transition: background-color 0.25s;
}

#mainskills:hover {
    background-color: rgba(232, 63, 111, 1);
}

#mainprojects {
    background-color: rgba(34, 116, 165, 0.9);
    transition: background-color 0.25s;
}

#mainprojects:hover {
    background-color: rgba(34, 116, 165, 1);
}

#maincontact {
    background-color: rgba(50, 147, 111, 0.9);
    transition: background-color 0.25s;
    color: #fff;
}

#maincontact:hover {
    background-color: rgba(50, 147, 111, 1);
}

/* =================================== */
/* MISC ELEMENTS /
/* =================================== */

.anchor {
    display: block;
    position: relative;
    top: -9vh;
    visibility: hidden;
}

.highlight {
    background: white;
    color: #262626;
    padding: 0 5px;
}

#headshot {
    width: 25vh;
    height: 25vh;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    #headshot {
        width: 30vh;
        height: 30vh;
        padding: 30px 0;
    }
}

/* =================================== */
/* EFFECTS */
/* =================================== */

.fade {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.faded-in {
  opacity: 1;
  transform: translateY(0px);
}

.fun-letter {
  display: inline-block;
  transition: transform 0.1s ease-in-out;
}

.fun-letter:hover {
  transform: translateY(-15%) rotate(-8deg) scale(1.15);
}

.shake:hover {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  25% {
    transform: rotate(-12deg);
  }
  
  50% {
    transform: rotate(12deg);
  }

  75% {
    transform: rotate(-12deg);
  }
}

/* =================================== */
/* PANELS */
/* =================================== */

.about-panel {
  padding: 18px;
  background-color: rgb(255, 255, 255);
  margin: 1.5rem 0 0 0;
  color: #262626;
}

.about-panel:hover {
  transform: scale(1.01);
}

.about-panel > p {
  margin: 0;
  padding: 1rem 0;
}

.about-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.about-link {
  color: #262626;
  font-weight: 800;
  text-decoration: none;
}

.about-link:hover {
  text-decoration: underline;
}

.panel {
    box-sizing: content-box;
    padding: 0;
    margin: 1.5rem 0 0 0;
    color: #262626;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.panel:hover {
    transform: scale(1.01);
}

.panel-header {
    background-color: #ddd;
    padding: 10px;
    margin: 0;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    align-items: center;
}

.panel-header > p {
  margin: 0;
  font-family: "Raleway";
  font-size: 3rem;
  color: #262626;
}

.panel-header-icon {
  height: 5rem;
  margin: 0 2rem 0 0.5rem;
  padding: 0;
}

.panel-header-secondary {
    color: #808080;
}

.panel-content {
    padding: 0 18px;
}

@media screen and (max-width: 768px) {
    .panel-header {
        font-size: 2rem;
    }
}

/* =================================== */
/* SHIELDS */
/* =================================== */

.shield-container {
    line-height: 4rem;
}

.shield {
    padding: 5px 10px;
    margin-right: 10px;
}

.link-shield {
    background-color: rgba(34, 116, 165, 0.9);
    color: white;
    text-decoration: underline;
}

.link-shield > a {
    color: white;
}

.link-shield:hover {
    background-color: rgba(34, 116, 165, 1);
}

.lang-shield {
    background-color: rgba(50, 147, 111, 0.9);
    color: white;
}

.lang-shield:hover {
    background-color: rgba(50, 147, 111, 1);
}

/* =================================== */
/* FOOTER */
/* =================================== */

#mainfooter {
    background: #262626;
    padding: 0;
    text-align: center;
    color: white;
    position: relative;
}

.footer-content {
  padding: 2rem;
}

a.quicklink {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

a.quicklink:hover {
    text-decoration: underline;
}

.footer-lines {
  display: flex;
  flex-direction: row;
}

.footer-line {
  height: 10px;
  width: 25%;
}

#footer-line-1 {
  background-color: rgba(255, 191, 0, 1);
}

#footer-line-2 {
  background-color: rgba(232, 63, 111, 1);
}

#footer-line-3 {
  background-color: rgba(34, 116, 165, 1);
}

#footer-line-4 {
  background-color: rgba(50, 147, 111, 1);
}
