{{ partial header }}

{{ partial transitions }}

<header id="banner">
    <h2><a href="https://n-young.me/">nick young</a></h2>
    <div class="underline"></div>
</header>

<div class="main" id="mainblog">
    <div class="container">
        <h1>welcome!</h1>
        <p>
            Hey! My name is <strong>Nick Young</strong>, and this is my lawn, please get off of my lawn.
        </p>
        <p>
            I work on query optimization at <a href="https://www.databricks.com/">Databricks</a>.
            Previously, I've worked on document databases at <a href="https://stripe.com/">Stripe</a>
            and developer experience at <a href="https://www.bloomberg.com/">Bloomberg</a>.
        </p>
        <p>
            I'm interested in computers and mathematics broadly, but with a focus on databases, cryptography, and their intersection.
            I studied math and computer science at <a href="https://www.brown.edu/">Brown University</a>, where I helped build and run
            courses on <a href="https://cs.brown.edu/courses/csci1270/website_2021/">databases</a> and
            <a href="https://brownappliedcryptography.github.io/">applied cryptography</a>.
        </p>
        <p>
            On the side, lift objects, sip neat, boil broth, hit shuttlecocks, send betas, and blunder queens.
            Please talk to me about any of those things (but no others).
        </p>
        <p>
            If you're looking to connect, let's chat via <a href="mailto:nicholas_young@alumni.brown.edu" target="_blank" rel="noopener">email</a>.
            If you're looking for my code, check out my <a href="https://github.com/n-young">Github</a>.
            If you're looking for my bar menu, check out <a href="http://bar.n-young.me">bar.n-young.me</a>.
            If you're looking for a good time, click <a href="https://dood.al/pinktrombone/">here</a>.
        </p>

        <h2>tldrs</h2>
        <ul id="posts">
            {{ loop notes.tldrs
            <li>
                <span class="tooltip">&#9632;<span class="tooltiptext">${bin}</span></span>
                <a class="postLink" href="${link}">
                    ${title}
                </a>
            </li>
            }}
        </ul>

        <h2>minibooks</h2>
        <ul id="posts">
            {{ loop notes.books
            <li>
                <span class="tooltip">&#9632;<span class="tooltiptext">${bin}</span></span>
                <a class="postLink" href="${link}">
                    ${title}
                </a>
            </li>
            }}
        </ul>

        <h2>links</h2>
        <ul id="posts">
            {{ loop notes.links
            <li>
                <span class="tooltip">&#9632;<span class="tooltiptext">${bin}</span></span>
                <a class="postLink" href="${link}">
                    ${title}
                </a>
            </li>
            }}
        </ul>
    </div>
</div>

{{ partial footer }}
