{{ partial header }}

{{ partial transitions }}

<header id="banner">
    <h2><a href="https://n-young.me/">nick young</a></h2>
    <div class="underline"></div>
</header>

<div class="main" id="mainblog">
    <div class="container">
        <h1>welcome!</h1>
        <p>
            My name is <strong>Nick Young</strong>, and this is my website! Here I collect the things I write and share the things I create.
        </p>
        <p>
            I'm interested in <strong>computer systems</strong> broadly, but with a focus on databases, distributed systems, cryptography, and mathematics.
            I studied <strong>math and computer science</strong> at <a href="https://www.brown.edu/">Brown University</a>, where I helped build and run
            courses on <a href="https://cs.brown.edu/courses/csci1270/website_2021/">databases</a> and
            <a href="https://brownappliedcryptography.github.io/">applied cryptography</>.
        </p>
        <p>
            I work on query processsing at <a href="https://www.databricks.com/">Databricks</a>.
            Previously, I've worked on document databases at <a href="https://stripe.com/">Stripe</a>
            and developer experience at <a href="https://www.bloomberg.com/">Bloomberg</a>.
        </p>
        <p>
            On the side, I also climb rocks, mix drinks, play google maps, build keyboards, own a guitar, take photos, and play badminton.
        </p>
        <p>
            If you're looking to connect, let's chat via <a href="mailto:nicholas_young@brown.edu" target="_blank" rel="noopener">email</a>.
            If you're looking for my code, check out my <a href="https://github.com/n-young">Github</a>.
            If you're looking for my bar menu, check out <a href="http://bar.n-young.me">bar.n-young.me</a>.
            If you're looking for a good time, click <a href="https://dood.al/pinktrombone/">here</a>.
        </p>

        <h2>writing</h2>
        <ul id="posts">
            {{ loop notes.posts
            <li>
                <span class="tooltip ${bin}">&#9632;<span class="tooltiptext">${bintitle}</span></span>
                <a class="postLink" href="${link}">
                    ${title}
                </a>
            </li>
            }}
        </ul>
    </div>
</div>

{{ partial footer }}