{{ partial notesheader }}

<header id="banner">
    <h2><a href="https://n-young.me/notes">nick's notes</a></h2>
    <div class="underline"></div>
</header>

<div class="main" id="mainblog">
    <div class="container">
        <ul id="posts">
            {{ loop notes.posts
            <li>
                <span class="tooltip ${bin}">&#9632;<span class="tooltiptext">${bintitle}</span></span>
                <a class="postLink" href="${link}">
                    ${title}
                </a>
            </li>
            }}
        </ul>
    </div>
</div>

{{ partial notesfooter }}