{{ partial postheader }}

<header id="banner">
    <h2><a href="https://n-young.me/">nick young</a></h2>
    <div class="underline"></div>
</header>

<div class="main" id="mainblog">
    <div class="container">
        <article>
            <h1>{{ data post.title }}</h1>
            <h3>{{ data post.date }}</h3>
            {{ content }}
        </article>
    </div>
</div>

{{ partial footer }}