/* =================================== */
/* HOUSEKEEPING */
/* =================================== */

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 8px;
}

body {
    font-size: 1rem;
    font-family: "Raleway";
    background-color: #f0ffe7;
    color: #262626;
    max-width: 768px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 16px 16px 15vh 16px;
}


/* =================================== */
/* BANNER */
/* =================================== */

header#banner {
    margin: 20px 0;
}

header#banner a {
    color: #262626;
    text-decoration: none;
}

header#banner h2 {
    display: inline;
    font-size: 4rem;
    margin: 0 8px 0 0;
}

header#banner nav {
    display: inline-block;
}

header#banner nav ul {
    list-style-type: none;
    font-size: 3rem;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

header#banner nav ul li {
    display: inline;
    margin: 0 3px;
}

header#banner nav ul li a {
    color: #262626;
}


/* =================================== */
/* MAIN AND POSTS */
/* =================================== */

div#mainblog a {
    color: #262626;
    vertical-align: middle;
}

div#mainblog a:hover {
    text-decoration: underline;
}

div#mainblog p {
    color: #262626;
    margin: 16px 0;
}

div#mainblog h1 {
    font-size: 3rem;
    margin: 3rem 0 1rem 0;
    text-decoration: underline;
}

div#mainblog h2 {
    font-size: 2.5rem;
    margin: 3rem 0 1rem 0;
    text-decoration: underline;
}

div#mainblog h3 {
    font-size: 2rem;
    text-decoration: underline;
}

div#mainblog p {
    font-size: 2rem;
}

div#mainblog table {
    font-size: 2rem;
}

div#mainblog ul#posts {
    list-style-type: none;
    font-size: 2.5rem;
    margin-top: 0;
    padding: 0;
}

div#mainblog ul#posts li {
    margin: 5px 0;
    padding: 0;
}

div#mainblog ul#posts li a {
    text-decoration: none;
}

div#mainblog ul#posts li a:hover {
    text-decoration: underline;
}


/* =================================== */
/* FOOTER */
/* =================================== */

footer#mainfooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    font-size: 2rem;
    text-align: center;
    background: #262626;
    color: white;
}

footer#mainfooter > div.footer-content {
    padding: 2rem;
}

@media screen and (max-width: 768px) {
    footer#mainfooter {
        display: none;
    }
}

footer#mainfooter > div.footer-content > p > a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer#mainfooter > div.footer-content > p > a:hover {
    text-decoration: underline;
}

footer#mainfooter > div.footer-lines {
    display: flex;
    flex-direction: row;
}

footer#mainfooter > div.footer-lines > div.footer-line {
    height: 10px;
    width: 25%;
}

#footer-line-1 {
    background-color: rgba(255, 191, 0, 1);
}

#footer-line-2 {
    background-color: rgba(232, 63, 111, 1);
}

#footer-line-3 {
    background-color: rgba(34, 116, 165, 1);
}

#footer-line-4 {
    background-color: rgba(50, 147, 111, 1);
}


/* =================================== */
/* EFFECTS */
/* =================================== */

div.underline {
    position: absolute;
    height: 0.2rem;
    width: calc(100px + 50%);
    margin-top: 3px;
    left: 0;
    background-color: #262626;
}

span.currents {
    color: #e83f6f;
}

span.computers {
    color: #2274a5;
}

span.chaotics {
    color: #32936f;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #262626;
    color: #fff;
    text-align: center;
    padding: 2px 5px;
    position: absolute;
    font-size: 1.5rem;
    margin-left: -90px;
    margin-top: 4px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
