/* =================================== */
/* HOUSEKEEPING */
/* =================================== */

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 8px;
    min-height: 100vh;
}

.example::-webkit-scrollbar {
    display: none;
}

.example {
    -ms-overflow-style: none;
}

/* =================================== */
/* MAINS */
/* =================================== */

body {
    font-size: 1rem;
    font-family: "Inconsolata";
    background-color: var(--color-white);
    color: var(--color-black);
    margin: 0 auto;
}

h1 {
    font: 400 8rem "Roboto Slab";
    margin-bottom: 30px;
    margin-top: 0;
}

h1 > .highlight {
    padding-top: 10px;
}

h2 {
    font: 400 6rem "Roboto Slab";
    margin-bottom: 0;
}

h2 > .highlight {
    padding-top: 10px;
}

h3 {
    font-family: "Inconsolata";
    font-size: 4rem;
    font-style: italic;
}

p {
    font-family: "Inconsolata";
    font-size: 2rem;
}

strong {
    text-decoration-line: underline;
    text-decoration-color: var(--color-accent);
}

ul {
    padding-left: 2rem;
}

li {
    font-family: "Inconsolata";
    font-size: 2rem;
    margin: 1rem;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 6rem;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 5rem;
    }

    h3 {
        font-size: 2rem;
    }

    p,
    li {
        font-size: 2rem;
    }
}

/* =================================== */
/* BANNER */
/* =================================== */

header#banner {
    margin: 20px 0;
}

header#banner a {
    color: var(--color-black);
    text-decoration-line: none;
}

header#banner h2 {
    display: inline;
    font-size: 4rem;
    margin: 0 24px;
}

/* =================================== */
/* TRANSITIONS */
/* =================================== */

@keyframes slideUp {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(50vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

#transition-icon {
    height: 10vh;
    margin-top: 45vh;
    animation: 1s cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 slideIn;
    animation-fill-mode: forwards;
    text-decoration-line: underline;
    text-decoration-color: var(--color-accent);
}

#transition-1 {
    position: absolute;
    top: 0;
    z-index: 1040;
    width: 100%;
    height: 110%;
    display: block;
    background: var(--color-white);
    text-align: center;
    animation: 1s cubic-bezier(0.73, 0.03, 0.87, 0.7) 1s 1 slideUp;
    animation-fill-mode: forwards;
}

#transition-2 {
    position: absolute;
    top: 0;
    z-index: 1039;
    width: 100%;
    height: 110%;
    display: block;
    background: var(--color-accent-1);
    animation: 1s cubic-bezier(0.73, 0.03, 0.87, 0.7) 1.1s 1 slideUp;
    transform: translateY(-100%);
}

#transition-3 {
    position: absolute;
    top: 0;
    z-index: 1038;
    width: 100%;
    height: 110%;
    display: block;
    background: var(--color-accent-2);
    animation: 1s cubic-bezier(0.73, 0.03, 0.87, 0.7) 1.2s 1 slideUp;
    transform: translateY(-100%);
}

#transition-4 {
    position: absolute;
    top: 0;
    z-index: 1037;
    width: 100%;
    height: 110%;
    display: block;
    background: var(--color-accent-3);
    animation: 1s cubic-bezier(0.73, 0.03, 0.87, 0.7) 1.3s 1 slideUp;
    transform: translateY(-100%);
}

#transition-5 {
    position: absolute;
    top: 0;
    z-index: 1036;
    width: 100%;
    height: 110%;
    display: block;
    background: var(--color-accent-4);
    animation: 1s cubic-bezier(0.73, 0.03, 0.87, 0.7) 1.4s 1 slideUp;
    transform: translateY(-100%);
}

/* =================================== */
/* CONTAINERS */
/* =================================== */

.main {
    margin: 0;
    margin-bottom: 20vh;
}

.container {
    margin: 0 auto;
    max-width: var(--width-sm);
    padding: 10px;
}

.container-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 768px) {
    .container-grid {
        display: flex;
        flex-direction: column-reverse;
    }
}

.grid-item {
    grid-column: span 1;
}

/* =================================== */
/* MISC ELEMENTS /
/* =================================== */

.anchor {
    display: block;
    position: relative;
    top: -9vh;
    visibility: hidden;
}

.highlight {
    background: var(--color-white);
    color: var(--color-black);
    padding: 0 5px;
}

/* =================================== */
/* EFFECTS */
/* =================================== */

div.underline {
    position: absolute;
    height: 0.3rem;
    width: calc(100px + 50%);
    margin-top: 3px;
    left: 0;
    background-color: var(--color-accent);
}

span.tooltip {
    color: var(--color-accent-1);
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding: 2px 5px;
    position: absolute;
    font-size: 1.5rem;
    margin-left: -90px;
    margin-top: 4px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.fade {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.faded-in {
  opacity: 1;
  transform: translateY(0px);
}

.fun-letter {
  display: inline-block;
  transition: transform 0.1s ease-in-out;
}

.fun-letter:hover {
  transform: translateY(-15%) rotate(-8deg) scale(1.15);
}

.shake:hover {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  25% {
    transform: rotate(-12deg);
  }
  
  50% {
    transform: rotate(12deg);
  }

  75% {
    transform: rotate(-12deg);
  }
}

/* =================================== */
/* MAIN AND POSTS */
/* =================================== */

div#mainblog a {
    color: var(--color-black);
    font-weight: 800;
    text-decoration-line: underline;
    text-decoration-color: var(--color-accent);
}

div#mainblog h1 {
    font-size: 3rem;
    margin: 3rem 0 1rem 0;
    text-decoration-line: underline;
    text-decoration-color: var(--color-accent);
}

div#mainblog h2 {
    font-size: 2.5rem;
    margin: 3rem 0 1rem 0;
    text-decoration-line: underline;
    text-decoration-color: var(--color-accent);
}

div#mainblog h3 {
    font-size: 2rem;
    margin: 3rem 0 1rem 0;
}

div#mainblog p {
    font-size: 2rem;
    color: var(--color-black);
    margin: 16px 0;
}

div#mainblog table {
    font-size: 2rem;
}

div#mainblog ul {
    font-size: 2rem;
}

div#mainblog li {
    font-size: 2rem;
}

div#mainblog li > a {
    font-size: 2rem;
    font-weight: 400;
}

div#mainblog ul#posts {
    list-style-type: none;
    font-size: 2.5rem;
    margin-top: 0;
    padding: 0;
}

div#mainblog ul#posts li {
    margin: 5px 0;
    padding: 0;
}

div#mainblog ul#posts li a {
    text-decoration-line: none;
}

div#mainblog ul#posts li a:hover {
    text-decoration-line: underline;
    text-decoration-color: var(--color-accent);
}

/* =================================== */
/* FOOTER */
/* =================================== */

footer#mainfooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    font-size: 2rem;
    text-align: center;
    background: var(--color-black);
    color: var(--color-white);
    border-top: solid var(--color-accent) 2px;
}

footer#mainfooter > div.footer-content {
    padding: 2rem;
}

footer#mainfooter > div.footer-content > p > a {
    font-size: 2rem;
    color: var(--color-white);
    text-decoration-line: none;
    margin: 0 10px;
}

footer#mainfooter > div.footer-content > p > a:hover {
    text-decoration-line: underline;
    text-decoration-color: var(--color-accent);
}

@media screen and (max-width: 768px) {
    footer#mainfooter {
        display: none;
    }
}
